body {
  background-color: #424549;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
h1 {
  color: #7289da;
  font-size: 6em;
}
h3 {
  color: #d2d2d2;
  font-size: 1.5em;
}
p {
  color: #d3d3d3;
  font-size: 1.25em;
}
div {
  padding-top: 80px;
  border: 5px solid #1e2124;
  background-color: #36393e;
  width: 80%;
  height: 650px;
  margin: auto;
  text-align: center;
}
div:hover {
  background-color: #282b30;
}
img {
  width: 450px;
  height: 550px;
  border-radius: 80em 80em 80em 80em;
  border: 2px solid whitesmoke;
  box-shadow: 10px 13px 15px 10px whitesmoke;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

img:hover {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  background-color: snow;
  box-shadow: 10px 13px 15px 10px maroon;
}
